:root {
  --blue-color: #228CDB;
  --white-color: #D1DEDE;
  --black-color: #1D201F;
  --lighter-gray: #4b4b4b;

}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #1D201F;
}


