:root {
    --blue-color: #279af1;
    --white-color:#e6e6e6;
    --black-color: #1D201F;
}

.Header {
    background-color: var(--black-color);
    padding: 1rem;
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.Header * {
    color: var(--white-color);
    margin-inline: 1rem;
}

.nav-items {
    display: flex;
}

.Header a {
    text-decoration: none;
}

.Header a:hover {
    text-decoration: none;
    cursor:pointer;
    color: var(--blue-color);
}