:root {
    --blue-color: #0d5ca7;
    --white-color:#e6e6e6;
    --black-color: #1D201F;
    --light-blue: rgb(230, 241, 253);
    --lesslight-blue:rgb(213, 230, 255); 

}
.Login {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

   background-image: url("./img/lensblur6vignette11.jpg");
   height: 100vh;
}

.Login * {
    color: var(--white-color);
}
.login-form-container {
    max-width: 80ch;
    display: flex;
    flex-direction: column;
    background-color: var(--black-color);
    padding: 1rem;
    border-radius: 15px;
    align-items: center;
}

.Login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login input {
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border-style: none;
    background-color: var(--lighter-gray);
    color: #1D201F;
    
}

.Login input[type=submit] {
    background-color:var(--blue-color);
    color: var(--white-color);
    border-radius: 10px;
    width: 60%;
    font-weight: normal;
    transition: all 100ms ease-in-out;

}

.Login input[type=submit]:hover {
    background-color: var(--blue-color);
    font-weight: bold;
    border-radius: 10px;
    width: 60%;
    font-weight: bold;
    transform: scale(1.125);

}
.Login h1 {
    margin: 1rem;
}
.Login h2 {
    margin: 2rem;
}

.Login a {
    text-decoration: none;
    color: var(--white-color);
}

.Login a:hover {
    color: var(--blue-color);
}

.Login p {
    font-weight: bolder;
 }