
:root {
    --blue-color: #279af1;
    --white-color:#e6e6e6;
    --black-color: #1D201F;
    --lighter-gray: #4b4b4b;
}
.recipe-card {
    background-color: var(--black-color);
    min-width: 700px;
    max-width: 700px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 1rem;
    border-radius: 10px;
    
}

.recipe-card > * {
   
    color: var(--white-color);
    margin: 1rem;
   
    
   
}

.recipe-card .popup {
    margin: 0;
}
.header-container {
    display: flex;
    align-items: center;
    background-color: var(--lighter-gray);
    justify-content: space-between;
    border-radius: 10px;    
}

.header-container *{
    margin: 1rem;
}


.content {
    background-color: var(--lighter-gray);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer button {
    border: none;
    padding: 0.5rem;
    border-radius: 25px;
    margin: 0;
}

.delete {
    background-color: rgb(167, 28, 28);
}

.edit {
    background-color: var(--lighter-gray);
}

.editpop{
    margin: 0;
}

.recipe-card img {
    width: 100%;
}

.meta-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meta-container * {
    padding: 0;
    margin: 5px;
}